<%- include('./partials/head') %>

<body class="main">

  <section class="about">

    <h1>Squad Page</h1>
    <h2>Wie komt van waar</h2>
    <p>Bekijk wie waar vandaan komt met 1 simpele klik.</p>

    <ul>
      <li><img class="niveau" src="./media/niveau-4.svg" alt="niveau-4">10+ Studenten</li>
      <li><img class="niveau" src="./media/niveau-3.svg" alt="niveau-3">5-9 Studenten</li>
      <li><img class="niveau" src="./media/niveau-2.svg" alt="niveau-2">1-4 Studenten</li>
      <li><img class="niveau" src="./media/niveau-1.svg" alt="niveau-1">0 Studenten</li>
    </ul>

  </section>

  <section class="map">
    <!--<img class="kaartnederland" src="./media/nederland.svg" alt="nederlandkaart">-->
    <a>
      <img onclick="filterList('d-m')"class="Drenthe provinces" src="./media/map/Drenthe.svg" alt="nederlandkaart">
    </a>
    <a>
      <img onclick="filterList('f-m')" class="Flevoland provinces" src="./media/map/Flevoland.svg" alt="nederlandkaart">
    </a>
    <a>
      <img onclick="filterList('fr-m')" class="Friesland provinces" src="./media/map/Friesland.svg" alt="nederlandkaart">
    </a>
    <a>
      <img onclick="filterList('g-l-m')"class="Gelderland provinces" src="./media/map/Gelderland.svg" alt="nederlandkaart">
    </a>
    <a>
      <img onclick="filterList('g-m')" class="Groningen provinces" src="./media/map/Groningen.svg" alt="nederlandkaart">
    </a>
    <a>
      <img onclick="filterList('l-m') "class="Limburg provinces" src="./media/map/Limburg.svg" alt="nederlandkaart">
    </a>
    <a>
      <img onclick="filterList('n-b-m')" class="Noord-Brabant provinces" src="./media/map/Noord-Brabant.svg" alt="nederlandkaart">
    </a>
    <a>
      <img onclick="filterList('n-h-m')" class="Noord-Holland provinces" alt="nederlandkaart">
    </a>
    <a>
      <img onclick="filterList('o-m')" class="Overijssel provinces" src="./media/map/Overijssel.svg" alt="nederlandkaart">
    </a>
    <a>
      <img onclick="filterList('u-m')" class="Utrecht provinces" src="./media/map/Utrecht.svg" alt="nederlandkaart">
    </a>
    <a>
      <img onclick="filterList('w-m')"class="Wadden-Eilanden provinces" src="./media/map/Wadden-Eilanden.svg" alt="nederlandkaart">
    </a>
    <a>
      <img onclick="filterList('z-m')" class="Zeeland provinces" src="./media/map/Zeeland.svg" alt="nederlandkaart">
    </a>
    <a>
      <img onclick="filterList('z-h-m')" class="Zuid-Holland provinces" src="./media/map/Zuid-Holland.svg" alt="nederlandkaart">
    </a>

  </section>

  <section class="students">
    <div class="box">
      <div class="provicies-box"><p class="provicies-box-t">Noord-Holland</p></div>
      <ol class="student-info" id="name-list">
        <li class="n-h-m"><img src="https://avatars.githubusercontent.com/u/112856412?v=4">Diego Dekker NH</li>
        <li class="z-h-m"><img src="https://avatars.githubusercontent.com/u/112856412?v=4">Diego Dekker ZH</li>
        <li class="n-h-m"><img src="https://avatars.githubusercontent.com/u/112856412?v=4">Diego Dekker NH</li>
        <li class="n-h-m"><img src="https://avatars.githubusercontent.com/u/112856412?v=4">Diego Dekker NH</li>
        <li class="z-h-m"><img src="https://avatars.githubusercontent.com/u/112856412?v=4">Diego Dekker ZH</li>
        <li class="z-h-m"><img src="https://avatars.githubusercontent.com/u/112856412?v=4">Diego Dekker ZH</li>
        <li class="z-h-m"><img src="https://avatars.githubusercontent.com/u/112856412?v=4">Diego Dekker ZH</li>
        <li class="n-h-m"><img src="https://avatars.githubusercontent.com/u/112856412?v=4">Diego Dekker NH</li>
        <li class="n-h-m"><img src="https://avatars.githubusercontent.com/u/112856412?v=4">Diego Dekker NH</li>
        <li class="z-h-m"><img src="https://avatars.githubusercontent.com/u/112856412?v=4">Diego Dekker ZH</li>
        <li class="n-h-m"><img src="https://avatars.githubusercontent.com/u/112856412?v=4">Diego Dekker NH</li>
  

      </ol>
    </div>

  </section>

  

  <script src="./scripts/script.js"></script>
  <script src="./scripts/filter.js"></script>

</body>

<%- include('./partials/foot') %>
